<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/openbooks?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">DEVELOPMENT</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="org.mgenterprises.mgmoney.invoicing.invoice.Invoice"/>
    <mapping class="org.mgenterprises.mgmoney.invoicing.invoice.InvoiceItem"/>
    <mapping class="org.mgenterprises.mgmoney.saving.server.users.UserProfile"/>
    <mapping class="org.mgenterprises.mgmoney.invoicing.item.Item"/>
    <mapping class="org.mgenterprises.mgmoney.customer.Customer"/>
    <mapping class="org.mgenterprises.mgmoney.saving.server.ResourceLock"/>
  </session-factory>
</hibernate-configuration>
